:root {
    --white: #ffffff;
    --black: #000000;
    --background: #EEEDEB;
    --footer: #191919;
    --texture: #2f3033;
    --flexi: #398191;
    --EP: #399152;
    --LP: #822a32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 40rem;
    margin: auto;
}

section {
    padding-bottom: 70px;
}

.grey {
    background-color: var(--background);
}

header {
    display: flex;
    width: 100vw;
    background-color: var(--background);
}

#logo {
    display: flex;
    width: 65%;
}

#logo h1 {
    align-content: center;
}

#nav-bar {
    align-content: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li{
    justify-content: space-around;
    list-style: none;
    margin: 0 20px;
}

a {
    white-space: nowrap;
    padding: 20px;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
}

a:hover {
    color: var(--texture);
    cursor: pointer;
    font-weight: bold;
}

#logo img {
    width: 90px;
    padding: 10px;
    margin-left: 50px;
}

#Home {
    border-bottom: 5px solid ;
    border-bottom-right-radius: 20%;
    background-color: var(--background);
    height: 52rem;
    padding-bottom: 850px;
}

#Home img {
    position: absolute;
    top: 5rem;
    width: 50rem;
    opacity: 50%;
    left: 30%; 
    margin-left: -146px;
}

#Home h1 {
    position: absolute;
    left: 30%;
    margin-left: -146px;
    width: 40rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9rem;
}

.container {
    position: relative;
    left: 10vw;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-section {
    display: flex;
    align-items: space-around;
}

#Video, .paragraph {
    min-width: 25rem;
    max-width: 40rem;
}

.p-title {
    margin: 2rem 0;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

#Products h1 {
    padding: 20px 380px 0 380px;
    text-wrap: nowrap;
}

.product {
    min-width: 20rem;
    max-width: 20rem;
    height: 30rem;
    border: 2px solid var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 2rem;
}

.product img {
    margin-top: 2rem;
    width: 60%;
    padding: 10px;
    border-radius: 100%;
    border: 2px solid var(--black);
}

#product-1 {
    background-color:var(--flexi);
}

#product-2 {
    background-color: var(--EP);
}

#product-3 {
    background-color: var(--LP);
}

.product h2 {
    font-size: xx-large;
}

.product h2, .product p{
    margin-bottom: -3rem;
}

.product input {
    width: 15rem;
    height: 4rem;
    background-color: var(--black);
    border-radius: 35px;
    font-size: xx-large;
    color: var(--white);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 20px;
}

.box label {
    padding: 10px 0;
    font-size: 1.2rem;
}

#email, #Message{
    padding: 10px 20px;
    width: 30rem;
    height: 3rem;
    border-radius: 30px;
    border: 2px solid var(--black);
}

#Message {
    height: 6rem;
    text-wrap: wrap;
    resize: none;
}

#submit {
    width: 5rem;
    height: 3rem;
    margin-top: 10px;
    border-radius: 300px;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
}

footer {
    background-color: var(--footer);
    color: var(--white);
    height: 150px;
    border-top-right-radius: 70%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.flex-row {
    display: flex;
    justify-content: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

a {
    width: 0;
}

.fa-brands, .fab {
    width: 50px;
    height: 50px;
    color: var(--white);
}

.button {
    cursor: pointer;
}

.button:hover, #submit:hover{
    background-color: var(--texture);
}

img {
    animation: rotateScroll 10s linear infinite;
}

@keyframes rotateScroll {
0% {
  transform: translate(0, 0) rotate();
}
100% {
  transform: translate(0, 0) rotate(360deg);
}
}

@media only screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
    }

    section {
        height: fit-content;
        padding: 50px 0;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .paragraph {
        padding: 3rem
    }

    #Products .p-title {
        padding: 0;
    }

    .product {
        margin: 20px 0;
    }

    li {
        margin: 0;
    }
    .nav-link {
        padding: 12px;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
        margin-right: 500px;
    }
}