:root {
    --background: #EEEDEB;
    --font:;
    --header:;
    --footer: #191919;
    --darker-background: #757263;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: 
}

section, footer {
    width: 100vw;
    height: 50rem;
    margin: auto;
}

header {
    justify-content: space-around;
    display: flex;
    width: 100vw;
    background-color: var(--background);
}

#logo {
    display: flex;
    justify-content: flex-start;
    width: 65%;
}

#logo h1 {
    align-content: center;
}

#nav-bar {
    align-content: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    
}

li{
    justify-content: space-around;
    list-style: none;
    margin: 0 20px;
}

a {
    white-space: nowrap;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover {
    color: var(--texture);
    cursor: pointer;
}

img {
    width: 90px;
    padding: 10px;
    margin-left: 50px;
}

#Home {
    border-bottom: 5px solid ;
    border-bottom-right-radius: 20%;
    background-color: var(--background);
}

#Home img {
    position: absolute;
    top: 5rem;
    width: 50rem;
    opacity: 50%;
    left: 30%; 
    margin-left: -146px;
}

#Home h1 {
    position: absolute;
    left: 30%;
    margin-left: -146px;
    width: 40rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9rem;
}

#The-Video {
    display: flex;
    justify-content: center;
}

#video-text {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
    justify-content: ;
}

#video {
    justify-content: right;
}

footer {
    background-color: var(--footer);
    color: #ffffff;
    height: 150px;
    border-top-left-radius: 20%;
}